admin -> backups -> index.html.haml
%br
%h4 
  = "Existing backups for device: #{@device.name}"
%br
- @backups.each do |backup|
  = link_to "#{backup.created_at}", admin_device_backup_configs_path(@device, backup)